body {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Proza Libre', "Helvetica Neue", 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
   font-size: 14px;
   color: #241c15;
}
.img1{
  display: block;
  width:120px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.img2{
  display: none;
}
h1{
  padding-left: 5px;
  text-align: left;
  font-family: 'Merriweather','Georgia','Times',"Times New Roman",'serif';
  font-size: 34px;
  word-spacing: 0.2em;
  line-height: 1.1;
  color: #241c15;
}
h2{
  padding-left: 5px;
}
h3{
  padding-left: 5px;
}
.input1{
  width: 100%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
  font-family: 'Proza Libre', "Helvetica Neue", 'Helvetica', 'Arial', 'Verdana', 'sans-serif';


}
.input2{
  width: 100%;
  padding: 10px;
  background-color: #007c89;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Proza Libre', "Helvetica Neue", 'Helvetica', 'Arial', 'Verdana', 'sans-serif';

}
.input2:disabled{
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  color: lightgrey;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Proza Libre', "Helvetica Neue", 'Helvetica', 'Arial', 'Verdana', 'sans-serif';


}

}
.input3{
  background-color: rgb(216, 234, 204);
  width: 100%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.input4{
  background-color: #007c89;
}
.p2{
  color: #007c89;
  margin: none;
  padding: none;
  border: none;
}
.p1{
  font size: 12px;
  color: #241c15;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
ul {
  list-style: none;
}

ul li::before {
  content: "■";
  color: #007c89;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.divpasseye{
  width: 100%;
}
.divpass{
  width: 50%;
  text-align: left;
  float: left;
}
.diveye{
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 5%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

.row {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font size: 11px;
  color: rgba(36,28,21,0.65);
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.container{
  padding-top:50px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .row{
    width: 100%;

  }
  .column {
    width: 90%;
    padding-right: 10px;
  }
  .img2{
    display: block;
    width:120px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .img1{
    display: none;
  }
}
